# TODO: set hubble.ui.ingress to something: https://docs.cilium.io/en/stable/helm-reference/
# --set hubble.ui.enabled=true \
# TODO: make this more configurable
# kubeProxyReplacement: true
k8sServiceHost: "{{ kubernetes_api_endpoint }}"
k8sServicePort: "{{ kubernetes_api_port }}"
# externalIPs:
#   enabled: true
# loadBalancer:
#   mode: dsr
#   dsrDispatch: geneve
# tunnelProtocol: geneve
ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
    {{ cilium_clusterPoolIPv4PodCIDRList | to_nice_yaml(indent=4) }}
